

body {
	font-family: Verdana, Helvetica, sans-serif;
	text-align: center;
	background-color: #fff;
	/* Background color */
	margin: 0;
	color: #0009ff;
	/* Text color */
  }

.button-container {
	display: flex;
	justify-content: center;
	margin-top: 20px;
  }
  
  /*Menu buttons*/
  .button {
	outline: none;
	cursor: pointer;
	padding: clamp(0.5rem, 1vw, 1rem);
	margin: clamp(0.5rem, 1vw, 1rem);
	font-family: Verdana, Helvetica, sans-serif;
	font-size: clamp(1.1rem, 2vw, 2rem);
	background-color: #e7e6e6;
	/* Button color */
	color: #0009ff;
	/* Button text color */
	border: clamp(0.15rem, 0.25vw, 0.3rem) solid black;
	border-radius: 10px;
	text-align: center;
  }
  